.u-section-1 {
  background-image: url("images/bandicam2020-04-1410-13-57-406.jpg");
  background-position: 50% 50%;
  min-height: 730px;
}

.u-section-1 .u-group-1 {
  min-height: 712px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-shape-1 {
  width: 554px;
  height: 402px;
  background-image: none;
  margin: 135px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 602px;
  }

  .u-section-1 .u-group-1 {
    min-height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 461px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 346px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-shape-1 {
    width: 520px;
    height: 377px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 218px;
  }

  .u-section-1 .u-shape-1 {
    width: 249px;
    height: 157px;
    margin-top: 0;
    margin-left: 50px;
  }
}